@model IEnumerable<jb_test.Models.iepb00h>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="overflow-scroll">
    @Html.Partial("~/Views/PartialViews/_PartialFormHeader.cshtml")
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th class="datatitle">
                @Html.Partial("~/Views/PartialViews/_PartialFormCreate.cshtml")
            </th>
            <th class="datatitle">
                @Html.DisplayNameFor(model => model.od_id)
            </th>
            <th class="datatitle">
                @Html.DisplayNameFor(model => model.od_name)
            </th>
            <th class="datatitle">
                @Html.DisplayNameFor(model => model.od_name1)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            ActionService.RowId = item.Id;
            ActionService.RowData = (item.od_id == null) ? "" : $"{item.od_id} ";
            <tr class="datacontent">
                <td>
                    @Html.Partial("~/Views/PartialViews/_PartialFormEdit.cshtml")
                    @Html.Partial("~/Views/PartialViews/_PartialFormDelete.cshtml")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.od_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.od_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.od_name1)
                </td>
            </tr>
        }
    </table>
</div>

@* Jacky 1120625 表單特效功能 *@
@Html.Partial("~/Views/PartialViews/_PartialFormEffect.cshtml")
